@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);


 a {
	 text-decoration: none;
	 color: inherit;
}
 * {
	 box-sizing: border-box;
}
 .menu {
    margin-top: 100px;
	 display: block;
	 position: relative;
	 cursor: pointer;
     width: 100%;
}

.hList-li{
    width: 100%;
}

li {
    list-style: none;
}
 .menu-title {
	 display: block;
	 width: 150px;
	 height: 40px;
	 padding: 12px 0 0;
	 background: #9dc852;
	 text-align: center;
	 color: #fff;
	 font-weight: bold;
	 text-transform: uppercase;
	 transition: 0.3s background-color;
     width: 100%;
	 padding: 4px;
}
 .menu-title:before {
	 content: "";
	 display: block;
	 height: 0;
	 border-top: 5px solid #9dc852;
	 border-left: 75px solid transparent;
	 border-right: 75px solid transparent;
	 border-bottom: 0 solid #ddd;
	 position: absolute;
	 top: 100%;
	 left: 0;
	 z-index: 101;
	 transition: 0.2s 0.2s border-top ease-out, 0.3s border-top-color;
}
 .menu-title:active {
	 background: #8db842;
}
 .menu-title:hover:before {
	 border-top-color: #8db842;
}
 .menu:active > .menu-title:before {
	 border-top-width: 0;
	 transition: 0.2s border-top-width ease-in, 0.3s border-top-color;
}
 .menu-title:after {
	 content: "";
	 display: block;
	 height: 0;
	 border-left: 75px solid transparent;
	 border-right: 75px solid transparent;
	 border-bottom: 0 solid #ebebeb;
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 z-index: 101;
	 transition: 0.2s border-bottom ease-in;
}
 .menu:hover > .menu-title:after {
	 border-bottom-width: 5px;
	 transition: 0.2s 0.2s border-bottom-width ease-out;
}

 .menu-dropdown {
	 min-width: 100%;
	 padding: 15px 0;
	 position: absolute;
	 background: #ebebeb;
	 z-index: 100;
	 transition: 0.5s padding, 0.5s background;
}
 .menu-dropdown:after {
	 content: "";
	 display: block;
	 height: 0;
	 border-top: 5px solid #ebebeb;
	 border-left: 75px solid transparent;
	 border-right: 75px solid transparent;
	 position: absolute;
	 top: 100%;
	 left: 0;
	 z-index: 101;
	 transition: 0.5s border-top;
}
 .menu:not(:hover) > .menu-dropdown {
	 padding: 4px 0;
	 background: #ddd;

}
 .menu:not(:hover) > .menu-dropdown:after {
	 border-top-color: #ddd;
}
 .menu:not(:hover) > .menu-title:after {
	 border-bottom-color: #ddd;
}
 .menu-dropdown > * {
	 overflow: hidden;
	 height: 30px;
	 padding: 5px 10px;
	 background: rgba(0, 0, 0, 0);
	 white-space: nowrap;
	 transition: 0.5s height cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s padding cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s margin cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s 0.2s color, 0.2s background-color;
}
 .menu-dropdown > *:hover {
	 background: rgba(0, 0, 0, 0.1);
}
 .menu:not(:hover) > .menu-dropdown > * {
	 visibility: hidden;
	 height: 0;
	 padding-top: 0;
	 padding-bottom: 0;
	 margin: 0;
	 color: rgba(25, 25, 25, 0);
	 transition: 0.5s 0.1s height, 0.5s 0.1s padding, 0.5s 0.1s margin, 0.3s color, 0.6s visibility;
	 z-index: 99;
}

.episode-container {
  padding-top: 120px;
}



.hList{
    grid-area: "hlist";
    display: flex;
    flex-direction: column;
}
ul.menu-dropdown {
    display: flex;
    flex-direction: column;
}

 .hList > * + * {
	 margin-left: 0;
}
 

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.container {
    grid-area: "episode-content";
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 40px;
  padding-top: 80px;
}
.card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
  height: auto;
}
.card-header img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}

.tags {
  display: flex;
}

.episode-title{
	display: flex;
    justify-content: center;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 3px;
}
.tag-teal {
  background-color: #47bcd4;
}
.tag-purple {
  background-color: #5e76bf;
}
.tag-pink {
  background-color: #cd5b9f;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }

  .column {
    float: left;
    padding: 10px;
  }
  
  /* Left and right column */
  .column.side {
    width: 40%;
  }
  
  /* Middle column */
  .column.middle {
    width: 60%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }